<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
    </head>
    <body>
        
        <h1>
            Welcome {{ user }}!
        </h1>
        
        <a href="{% url 'logout' %}">Log out</a>
        
        <h2>Add a secret!</h2>
        <form action="add/" method="POST">
            {% csrf_token %}

            <input type="text" name="secret"/><br/>
            <input type="submit" value="send"/>
        </form>
        <a href={% url 'secrets' user=user %}>Your secrets wait here!</a>
    </body>
</html>